* { 
    box-sizing: border-box;
}

/*----------header----------*/

header {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, rgba(218, 12, 191, 0.473),rgba(218, 12, 191, 0.192) );
    padding: 40px;
    align-items: center;
}

.content-img{
    display: flex;
    align-items: center;
    gap: 20px;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

.nav-header {
    text-align: center;
    margin: 15px;
}

.a-links{
    text-decoration: none;
    color: black;
    font-size: 26px;
    padding:35px;
}

.a-links:hover{
    color: rgba(49, 47, 47, 0.795);
}

@media (max-width:700px) {
    header {
        flex-direction: column;
    }
}

/*---------main-----------*/

#hero {
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 86vh;
    color:black;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.699), 
        rgba(0, 0, 0, 0.288)
    )
    ,url(/media/background-main.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: white;
    font-size: 100px;
    text-shadow: 10px 10px 15px rgb(54, 54, 54);
}

#button-main {
    color: white;
    font-size: 40px;
    padding: 10px;
    border: 1px;
    border-radius: 5px;
    background-color: rgba(226, 223, 226, 0.37);
    box-shadow: 2px 2px 2px rgb(179, 179, 179);
}

#button-main:hover {
    background-color: rgba(142, 17, 180, 0.534);
}

/*---------Productos-----------*/

.contenedor {
    background: linear-gradient(rgb(73, 73, 73), #55555573);
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 60px; 
    padding: 30px;             
}


.tarjeta {
    width: 300px;
    height: 330px;
    background: #ffffff;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.img-productos {
    width: 100%;
    height: 200px;       
   object-fit: contain; 
}

@media (max-width: 768px) {
    .contenedor {
        flex-direction: column; 
        align-items: center;
    }
  
    .tarjeta{
        width: 90%;
        height: auto;  
        margin-bottom: 50px;
    }
}

.button-productos {
    padding:10px;
    font-size: 18px;
    width: 100px;
    background-color: rgba(148, 12, 175, 0.521);
    border: none;
    border-radius: 10px;
}

.button-productos:hover {
    background-color: rgba(148, 12, 175, 0.342);
}

.b-button {
    font-size: 25px;
}

.content-h2 {
   background-color: rgba(0, 0, 0, 0.712);
    padding: 60px 0;
}

h2 {
    text-align: center;
    font-size: 50px;
    color: white;
    text-shadow: 5px 5px 5px rgb(114, 113, 113);
}

/*---------Nosotros-----------*/

#content-nosotros1{
    font-size: 100%;
    height: 73%;
    width: 70%;
    margin: 7% 10% 5% 15%;
    margin-bottom: 100px;
    text-align: center;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    box-shadow: 3px 4px rgba(0, 0, 0, 0.219);
}

p {
    width:70%;
}

.all-nosotros {
    gap: 60px;
    height: 90vh;
    background-image: linear-gradient(rgba(255, 255, 255, 0),rgba(255,255,255,0));
    width: 100%;
    background-color: rgb(177, 177, 177);
    display: inline-flex;
}

@media (max-width:768px) {
    .all-nosotros{
        flex-direction: column;
        height: 100%;
    }
    #content-nosotros1 {
        height: 90%;
        width: 90%;
        margin: 5%;
        margin-bottom: 10%;
    }
}

/* ----------Footer---------- */

footer {
  background: #222;
  color: white;
  padding: 15px;
  text-align: center;
  font-family: sans-serif;
}

#p-footer {
    width: 100%;
}

/* -------- Tooltip -------- */

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltip-text {
    visibility: hidden;
    opacity: 0;
    width: 180px;
    background-color: rgba(0, 0, 0, 0.897);
    color: #ffffff;
    text-align: left;
    padding: 8px;
    border-radius: 6px;
    position: absolute;
    bottom: 110%; 
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.3s ease;
    z-index: 10;
    font-size: 14px;
}

.tooltip .tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

